@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

header{ 
  font-size: 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: rgb(255, 255, 255);
  padding: 4px 30px;
  margin-top: 2em;
  background-color:rgb(130, 112, 212);
}

canvas {
  display: block;
}

body{
  background-color: rgb(184, 168, 255);
  font-size: 20px;
  font-family: 'Saira Semi Condensed', sans-serif;
  width: 80%;
  max-width: 7000px;
  margin: 0 auto
  
}
#container{
  columns: 2;
}
  
  footer{
    background-color:rgb(130, 112, 212);
    color: rgb(255, 255, 255);
    padding: 1em; /* EM square */
    max-resolution: top 2px;em; 
    Font-size:40px;
    margin-top: 2em;
  
    }